# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.pc

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
rshell
# test

# CMake Temp Files
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
build/googletest/googletest/generated/GTestConfig.cmake
build/googletest/googletest/generated/GTestConfigVersion.cmake
helloworld
.vscode/c_cpp_properties.json
# unit_test
.vscode/settings.json
# ExecTest
build/compile_commands.json
build/googletest/CTestTestfile.cmake
build/googletest/googlemock/CTestTestfile.cmake
build/googletest/googletest/CTestTestfile.cmake
# googletest
build/unit_test
.vscode/launch.json
.vscode/tasks.json

ExecTest
build/unittest
